@import "~/node_modules/payload/dist/admin/scss/styles.scss";

.nav {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: -16px;
    margin-left: -25px;
    padding: 0 !important;
    height: 100vh;
    width: var(--nav-width);
    overflow: hidden;
    border-right: 1px solid var(--theme-elevation-100);

    header {
        width: 100%;
        height: 100px;
        display: flex;
        margin-bottom: base(0) !important;
        z-index: 10;
        position: absolute;
        backdrop-filter: blur(5px) !important;

        a,
        button {
            display: block;
            padding: 0;

            svg {
                display: block;
            }
        }
    }

    &__brand {
        margin: 35px base(1) 0 20px !important;
        height: 30px;
        position: absolute !important;
    }

    &__mobile-menu-btn {
        background: none;
        border: 0;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__scroll {
        height: 100% !important;
        display: flex;
        flex-direction: column;
        padding: base(4.5) base(1) !important;
        width: calc(90% + #{base(1)}) !important;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 21px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--theme-elevation-150);
            border-top: 118px solid var(--theme-elevation-0);
            border-bottom: 160px solid var(--theme-elevation-0);
            border-right: 10px solid var(--theme-elevation-0);
            border-left: 8px solid var(--theme-elevation-0);
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
        margin-bottom: 49px;
    }

    &__label {
        color: var(--theme-elevation-400);
    }

    &__controls {
        position: absolute !important;
        z-index: 15 !important;
        margin-top: -160px !important;
        margin-bottom: 0;
        height: 180px;
        width: 100%;
        padding-right: 130px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: base(1);
        padding-top: 15px;
        backdrop-filter: blur(5px) !important;

        > * {
            margin-top: base(1.5) !important;
            margin-bottom: -10px;
        }
        > :first-child {
            position: absolute;
            margin-top: -10px !important;
            margin-left: -25px;
            padding-left: 30px;
            margin-bottom: 10px;
        }
    }

    &__log-out {
        &:hover {
            g {
                transform: translateX(-#{base(0.125)});
            }
        }
    }

    nav {
        a {
            position: relative;
            padding: base(0.125) base(1.5) base(0.125) 0;
            display: flex;
            text-decoration: none;

            &:focus {
                box-shadow: none;
                font-weight: 600;
            }

            &:hover {
                text-decoration: underline;
            }

            &.active {
                font-weight: normal;
                padding-left: base(0.6);
                font-weight: 600;
            }
        }
    }

    &__link {
        svg {
            opacity: 0;
            position: absolute;
            left: -base(0.5);
            transform: rotate(-90deg);
            margin-left: 4px !important;
        }

        &.active {
            svg {
                opacity: 1;
            }
        }
    }

    @include mid-break {
        @include blur-bg;
        position: fixed;
        width: 100%;
        height: base(3);
        z-index: var(--z-modal);
        margin-left: 0px;
        border-right: none !important;

        &__brand {
            margin-top: 0 !important;
            margin-left: 0 !important;
        }

        &__controls {
            margin-top: -250px !important;
            padding-left: 5% !important;
        }

        &__scroll {
            padding: 0;
            overflow: hidden;
            width: 100%;
            display: block;
        }

        header,
        &__wrap {
            position: relative;
            z-index: 1;
            padding: $baseline var(--gutter-h);
        }

        header {
            justify-content: space-between;
            margin: 0;
        }

        &__mobile-menu-btn {
            opacity: 1;
            visibility: visible;
            margin-left: auto !important;
            margin-right: 0 !important;
            margin-top: -30px !important;
        }

        &__wrap {
            padding-top: 0;
            visibility: hidden;
            opacity: 0;
            overflow-y: scroll;
            position: fixed;
            top: base(4);
            bottom: 115px !important;
            margin-left: -17px !important;
            width: 103% !important;
        }

        &.nav--menu-active {
            height: 100vh;

            .nav__wrap {
                visibility: visible;
                opacity: 1;
            }
        }

        nav a {
            font-size: base(0.875);
            line-height: base(1.25);
            font-weight: 600;
        }
    }
}

// Nav collapse
.collapse {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    left: 0;
    margin-left: -25px;
    margin-bottom: -16px;
    padding: 0 !important;
    height: 100vh;
    width: 50px;
    overflow: hidden;
    border-right: 1px solid var(--theme-elevation-100);

    &__collapsed-sidebar {
        position: absolute;
        width: 100%;
        height: calc(100% - 210px);
        z-index: 20;
        top: 75px;

        &:hover {
            cursor: pointer;
        }
    }

    header {
        width: 100%;
        height: 100px;
        display: flex;
        margin-bottom: base(0) !important;
        z-index: 10;
        position: absolute;
        backdrop-filter: blur(5px) !important;

        a,
        button {
            display: block;
            padding: 0;

            svg {
                display: block;
            }
        }
    }

    &__brand {
        margin: 35px base(1) 0 12px !important;
        height: 30px;
        position: absolute !important;
    }

    &__mobile-menu-btn {
        background: none;
        border: 0;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__scroll {
        height: 100% !important;
        display: flex;
        flex-direction: column;
        padding: base(4.5) base(1) !important;
        width: calc(100% + #{base(1)});
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
        margin-bottom: 18px;
    }

    &__label {
        color: var(--theme-elevation-400);
    }

    &__controls {
        position: absolute !important;
        z-index: 15;
        margin-top: -160px !important;
        margin-bottom: 0;
        height: 180px;
        width: 100%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: base(0.5);
        padding-top: 15px;
        backdrop-filter: blur(5px) !important;

        > * {
            margin-top: base(1.5) !important;
            margin-bottom: -10px;
        }
        > :first-child {
            position: absolute;
            margin-top: -10px !important;
            margin-left: -25px;
            padding-left: 30px;
            margin-bottom: 10px;
        }
    }

    &__log-out {
        &:hover {
            g {
                transform: translateX(-#{base(0.125)});
            }
        }
    }

    nav {
        visibility: hidden;
        a {
            position: relative;
            padding: base(0.125) base(1.5) base(0.125) 0;
            display: flex;
            text-decoration: none;

            &:focus {
                box-shadow: none;
                font-weight: 600;
            }

            &:hover {
                text-decoration: underline;
            }

            &.active {
                font-weight: normal;
                padding-left: base(0.6);
                font-weight: 600;
            }
        }
    }

    &__link {
        svg {
            opacity: 0;
            position: absolute;
            left: -base(0.5);
            transform: rotate(-90deg);
            margin-left: -23px !important;
        }

        &.active {
            svg {
                opacity: 1;
            }
        }
    }

    @include mid-break {
        @include blur-bg;
        position: fixed;
        width: 100%;
        height: base(3);
        z-index: var(--z-modal);
        margin-left: 0px;
        border-right: none !important;

        &__collapsed-sidebar {
            display: none;
        }

        &__brand {
            margin-top: 0 !important;
            margin-left: 0 !important;
        }

        &__controls {
            margin-top: -250px !important;
            padding-left: 5% !important;
        }

        &__scroll {
            padding: 0;
            overflow: hidden;
            width: 100%;
            display: block;
        }

        header,
        &__wrap {
            position: relative;
            z-index: 1;
            padding: $baseline var(--gutter-h);
        }

        header {
            justify-content: space-between;
            margin: 0;
        }

        &__mobile-menu-btn {
            opacity: 1;
            visibility: visible;
            margin-left: auto !important;
            margin-right: 0 !important;
            margin-top: -30px !important;
        }

        &__wrap {
            padding-top: 0;
            visibility: hidden;
            opacity: 0;
            overflow-y: scroll;
            position: fixed;
            top: base(4);
            bottom: 115px !important;
            margin-left: -17px !important;
            width: 103% !important;
        }

        &.collapse--menu-active {
            height: 100vh;

            .collapse__wrap {
                visibility: visible;
                opacity: 1;
            }
        }

        nav a {
            font-size: base(0.875);
            line-height: base(1.25);
            font-weight: 600;
        }
    }
}

// collapse/expand buttons
.collapse-sidebar-button {
    position: sticky;
    width: 25px;
    height: 25px;
    top: 72px;
    left: calc(var(--nav-width) - 11px);
    background-color: var(--theme-elevation-0);
    border-radius: 3px;
    border: 1px solid var(--theme-elevation-150);
    z-index: 30;

    svg {
        width: 19px;
        height: 19px;
        color: var(--theme-elevation-250);
        margin-left: -4px;
    }

    &:hover {
        cursor: pointer;

        svg {
            color: var(--theme-elevation-800) !important;
        }
    }

    @include mid-break {
        display: none;
    }
}

.expand-sidebar-button {
    position: sticky;
    width: 25px;
    height: 25px;
    top: 72px;
    left: 37px;
    background-color: var(--theme-elevation-0);
    z-index: 30;
    border-radius: 3px;
    border: 1px solid var(--theme-elevation-150);

    svg {
        width: 19px;
        height: 19px;
        color: var(--theme-elevation-250);
        margin-left: -4px;
    }

    &:hover {
        cursor: pointer;

        svg {
            color: var(--theme-elevation-800) !important;
        }
    }

    @include mid-break {
        display: none;
    }
}
