.collection-edit__sidebar-wrap {
    // background-color: red;
}

.collection-edit__sidebar {
    padding-top: 100px !important;
}

.collection-edit__document-actions,
.collection-edit__document-actions--has-2 {
    // left: -50px !important;
    width: 100%;
    position: absolute !important;
    // background-color: greenyellow !important;
    z-index: 100 !important;
}

.collection-edit__collection-actions {
    background-color: red;
}
