@import "~/node_modules/payload/dist/admin/scss/styles.scss";

@media only screen and (min-width: 1024px) {
    .leave-without-saving {
        z-index: 101 !important;
    }
    .nav {
        position: fixed !important;
        z-index: 100 !important;

        &__scroll {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: hidden !important;
        }

        header {
            margin-left: -24px;
            padding-left: 24px;
            width: calc(100% + 24px) !important;
            z-index: 10;
            height: 102px;
            margin-top: -40px;
            align-items: center;
            backdrop-filter: blur(5px) !important;
        }

        &__wrap {
            margin-top: -137px;
            padding-top: 100px;
            margin-bottom: -37px;
            padding-bottom: 165px;
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 21px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--theme-elevation-150);
                border-top: 115px solid var(--theme-elevation-0);
                border-bottom: 165px solid var(--theme-elevation-0);
                border-right: 10px solid var(--theme-elevation-0);
                border-left: 8px solid var(--theme-elevation-0);
            }
        }

        &__controls {
            margin-left: -24px;
            padding-left: 24px;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-bottom: 30px;
            backdrop-filter: blur(5px) !important;
            z-index: 30;

            .localizer {
                margin-top: 0px;
                margin-bottom: -10px;
                margin-left: 5px;
            }
        }

        &__account,
        &__log-out {
            width: 25px;
            padding-right: 0 !important;
        }
    }

    .template-default__wrap {
        margin-left: var(--nav-width);
    }

    .drawer__close {
        width: var(--nav-width) !important;
    }

    // when collapse
    .collapse-left {
        .nav {
            width: 63px !important;
            margin-left: -13px;

            header {
                z-index: 11;
                height: 25px;
                margin-top: 0px;
                backdrop-filter: none !important;
                overflow-x: hidden;
            }

            &__wrap {
                overflow: hidden;

                & > div {
                    visibility: hidden;
                }

                .expand-button-left,
                .expand-button-right,
                .collapse-button-right,
                .collapse-left-hover,
                .collapse-right-hover {
                    visibility: visible;
                }
            }

            &__controls {
                position: absolute !important;
                width: 0px;
                left: 13px;
                visibility: visible !important;
                z-index: 100 !important;

                .localizer {
                    margin-left: 16px;
                }

                & > * {
                    margin-left: 11px;
                }
            }
        }
        .template-default__wrap {
            margin-left: 50px !important;
        }

        .drawer__close {
            width: 51px !important;
        }
    }
}
