@import "~/node_modules/payload/dist/admin/scss/styles.scss";

// collapse/expand buttons
.collapse-button-right {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 75px;
    left: auto;
    right: 362px !important;
    background-color: var(--theme-elevation-0);
    border-radius: 3px;
    border: 1px solid var(--theme-elevation-150);
    z-index: 1;

    svg {
        width: 19px;
        height: 19px;
        color: var(--theme-elevation-250);
        margin-left: -4px;
    }

    &:hover {
        cursor: pointer;

        svg {
            color: var(--theme-elevation-800) !important;
        }
    }

    @include mid-break {
        display: none;
    }
}

.expand-button-right {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 75px;
    left: auto;
    right: 31px !important;
    background-color: var(--theme-elevation-0);
    border-radius: 3px;
    border: 1px solid var(--theme-elevation-150);
    z-index: 1;

    svg {
        width: 19px;
        height: 19px;
        color: var(--theme-elevation-800);
        margin-left: -4px;
    }

    &:hover {
        cursor: pointer;

        svg {
            color: var(--theme-elevation-250) !important;
        }
    }

    @include mid-break {
        display: none;
    }
}

.collapse-right-hover {
    position: fixed;
    width: 44px;
    height: 100%;
    top: 0;
    left: auto !important;
    right: 0 !important;

    &:hover {
        cursor: pointer;
        background-color: var(--theme-elevation-50);
        opacity: 0.5;
    }

    @include mid-break {
        display: none;
    }
}

.modal-is-active {
    .collapse-right-hover {
        position: fixed;
        width: 28px;
        height: 100%;
        top: 0;
        left: auto !important;
        right: 17px !important;

        &:hover {
            cursor: pointer;
            background-color: var(--theme-elevation-50);
            opacity: 0.5;
        }

        @include mid-break {
            display: none;
        }
    }
}
